@media screen and (max-width: 768px) {
    .container{
        width: 90%;
    }
    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    ul{
        flex-direction: column;
    }
    ul li{
        margin: 36px 0;
 
    }
    .hero{
        grid-template-columns: repeat(1, 1fr);
    }
    .order-2{
        order: 2;
    }
    .prder-1{
        width: 100%;
        height: 100%;
        order: 1;
    }

    .gamer{
        grid-template-columns: repeat(1, 1fr);
    }
    .button{
        text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 17px 26px;
    border-radius: 48px;
    margin-top: 32px;
    margin-right: 1rem;
    border: 0;
    }
    .gamer > h2,p,h6,h5{
        text-align: center;
        float: none;
    }
    .float-r{
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }

    h2{
        font-size: 28px;
    }
    p{
        font-size: 14px;
    }
    .funny-video{
        grid-template-columns: repeat(1, 1fr);
    }






}